mat-card {
  max-width: 80%;
  margin: 2em auto;
}

.mat-mdc-card-content{
  padding: 25px;
}

.mat-full-width {
  width: 100%;
  padding: 10px 0 0 0;
}

@media (max-width: 600px) {
  mat-card {
    max-width: 95%;
    margin: 1em auto;
  }
}
